.algo-right {
  width: 100%;
  min-width: 990px;
  border: 1px solid #e3e3e3;

  .algo-header {
    height: 57px;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;

    h2 {
      position: relative;
      margin-top: 8px;
    }
  }

  .algo-content-wrap {
    width: 100%;
    padding: 20px 40px 56px;
    border-top: 1px solid #e3e3e3;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;

    a {
      color: #000;

      &:hover {
        color: #1890ff
      }
    }

    .ant-btn{
      border-color: #1890ff;
    }

    .article-title {
      font-size: 20px;
    }

    .article-content,
    .u-center {
      font-size: 15px;
      color: #808080;
    }
  }

}