.article {
  width: 100vw;
  min-width: 39.96rem;
  background-color: #fafafa;

  padding-top: 5vh;

  .ant-skeleton {
    width: 80%;
    margin: 0 auto;
  }

  .container {
    width: 80%;
    margin: 0 auto;

    a:hover {
      color: #f05;
    }

    .artTags {
      font-weight: 600;
      font-size: 20px;
    }

    .article-title {
      font-weight: 700;
      font-size: .92rem;
      margin-bottom: .32rem;
    }

    .ant-divider-horizontal {
      margin: 0;
    }

    .article-info {
      overflow: hidden;
      font-size: .69rem;


      .article-fl {
        float: left;
      }

      .article-fr {
        float: right;

        .mr {
          margin-right: .32rem;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }



  


    .article-content {
      margin: .8rem auto;
      font-size: .72rem;

     /*对 markdown 样式的补充*/
    pre {
      display: block;
      padding: .4rem;
      margin: 0 0 .4rem;
      font-size: .56rem;
      line-height: 1.42857143;
      color: #abb2bf;
      background: #282c34;
      word-break: break-all;
      word-wrap: break-word;
      overflow: auto;
    }
    h1,h2,h3,h4,h5,h6{
      margin-top: 1em;
      /* margin-bottom: 1em; */
    }
    h1{
      font-size: 1.2rem;
    }
    
    h2{
      font-size: 1rem;
    }
    h3{
      font-size: .9rem;
    }
    h4{
      font-size: .85rem;
    }
    h5{
      font-size: .8rem;
    }
    h6{
      font-size: .78rem;
    }
    strong {
      font-weight: bold;
    }

    p > code:not([class]) {
      padding: 2px 4px;
      font-size: .64rem;
      color: #c7254e;
      background-color: #f9f2f4;
      border-radius: 4px;
    }
    p img{
      /* 图片居中 */
      margin: 0 auto;
      display: flex;
    }

    }
  }

  .article-comment {

    .comment-form {
      position: relative;
      min-height: 148px;
      margin: 4vh auto 7vh;

      .cmt-btn {
        position: absolute;
        right: .32rem;
        top: 2.8rem;
      }

      .cmt-box {
        height: 3vh;

      }
    }


  }


  
}