.algo {
  width: 100%;
  min-width: 1000px;
  min-height: 500px;


  .algo-main {
    width: 100%;
    min-height: 450px;
    padding: 20px 28px 24px;

    .ant-tabs .ant-tabs-left-content {
      padding-left: 0px;
      border: none;
    }

    .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
      text-align: left;
      font-size: 16px;
      border: none;
    }

    .ant-list {
      width: 100%;
    }

    .ant-list-item-action>li:first-child {
      padding-left: 0;
      margin-right: 62%;
    }

    .algo-class {
      font-weight: 700;
    }

    .algo-title-num {
      text-align: right;
      padding: 0;
      margin-right: -14px;
      padding-right: 0px;
      color: #e3e3e3;
    }


  }

}