.index-wrap {
  min-width: 40rem;

  .index {
    width: 100%;
    min-width: 24rem;
    min-height: 100vh;
    overflow: hidden;
  }

  .present {
    position: relative;
    background-image: url("/img/present.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .intro {
      position: absolute;
      text-align: center;
      min-width: 20rem;
      height: 18.4rem;
      left: 50%;
      top: 70%;
      transform: translate(-50%, -50%);
      /* 向左移动自己的一半、向上移动自己的一半 */

      .motto {
        font-size: 1.6rem;
        font-weight: 700;
        color: #fafafa;
        margin-bottom: 1.12rem;
      }

      .up {
        font-size: 1.12rem;
        color: #fafafa;
        margin-bottom: 1.12rem;
      }

      .copyright {
        font-size: .8rem;   
        color: #fafafa;
      }
    }
  }

  .corner {
    position: relative;

    div {
      width: 100%;
      height: 100%;
      display: flex;
    }

    .fl {
      background-color: #e3e3e3;
      width: 50%;
      text-align: left;
      padding-top: 10%;
      padding-left: 6%;

      .slogan {
        font-size: .72rem;
      }

      .corner-des {
        font-size: .64rem;
        margin-top: .4rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #000;

        span {
          font-size: .72rem;
          color: rgb(47, 102, 230);
          font-weight: 700;
        }
      }

      p {
        width: 82%;
      }

    }

    .fr {
      width: 50%;
      overflow: hidden;

      .fr-img {
        // background-color: #cc5c5c;
        background-image: url("/img/present4.jpg");
        background-position: center;
        background-size: cover;

        animation: scaleFun 5s linear 0s infinite;
        animation-play-state: running;
      }
    }
  }

  .nutrition {
    background-color: rgb(56, 56, 45);
    position: relative;

    .nutri-title {
      font-size: 1.12rem;
      font-weight: 700;
      color: #fafafa;
      margin: 1.04rem;
      text-align: center;
    }

    .nutr-wrap {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;

      .nutr-item {
        width: 18%;
        height: 70%;
        margin: .8rem;
        list-style: none;
      }
    }

    .nutr-card {
      width: 9.2rem;
      overflow: hidden;

      height: 12.48rem;
      min-width: 9vw;
      min-height: 17vh;

      border-radius: .4rem;
      background-color: #e3e3e3;
      text-align: center;


      &:hover {
        box-shadow: .12rem .08rem .32rem #58a;
        transform: translateY(.08rem);
      }

      .nutr-header-wrap {
        padding: .8rem;
        height: 60%;

        .nutr-header {
          font-weight: 700;
          color: #58a;
          font-size: .96rem;
          padding: .32rem;
        }

        .nutr-into {
          font-size: .72rem;
          width: 100%;
          height: 5.2rem;
          text-align: center;
          overflow: hidden;
          margin: .8rem auto;
        }
      }

      .index-line {
        width: 70%;
        margin: .64rem auto;
      }
    }
  }

}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #1890ff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}



@keyframes scaleFun {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5;
  }
}