.resource {
  width: 100%;
  min-width: 40rem;
  min-height: 28.24rem;


  .resource-main {
    width: 100%;
    padding: .8rem 1.12rem 0;

    .ant-tabs .ant-tabs-left-content {
      padding-left: 0px;
      border: none;
    }

    .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
      text-align: left;
      font-size: .64rem;
      border: none;
    }

    .res-class {
      font-weight: 700;
    }

    .res-title-num {
      text-align: right;
      padding: 0;
      margin-right: -0.56rem;
      padding-right: 0;
      color: #e3e3e3;
    }
    
  }

}