.header {
  z-index: 1000;
  width: 100%;
  height: 10vh;
  background-color: #222;
  padding: 0 .5vw;
  font-size: 1.2vw;
  min-width: 40rem;
  color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 10vh;
  }

  .header-left,
  .header-right {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .header-right-item {
      margin-right: 1.2vw;

      // .light-check{
      //   width: 58px;
      //   height: 29px;

      //   background: url(/public/img/light_bulb.png) -29px -29px;
      // }
    }
  }

  .header-right {
    margin-right: 2vw;


    .oper-user {
      position: relative;

      .ant-dropdown-link {
        top: .043924vh;
        left: .029283vh;
        position: relative;
      }
    }

  }

  a {
    color: #fafafa;
  }

  a:hover,
  .active {
    color: #1890ff;
  }

  .write-ative {
    color: #3d556b;
    font-weight: 700;
  }

  a:target {
    color: #1890ff;
  }
}