.dynamic {
  width: 100%;
  min-height: 706px;
  min-width: 1000px;
  padding-top: 20px;
  display: flex;


  .ant-list-item-action {
    height: 22px;
    white-space: nowrap
  }

  .ant-carousel .slick-slide {
    text-align: center;
    height: 356px;
    line-height: 356px;
    overflow: hidden;

    a {
      font-size: 23px;
      display: block;
      height: 100%;
      width: 100%;
      font-weight: 700;
      color: #fff;
    }

    .carousel-div1 {
      background-image: url('/img/web11.webp');
      background-position: center;
      background-size: cover;
    }

    .carousel-div2 {
      background-image: url('/img/web7.jpg');
      background-position: center;
      background-size: cover;
    }

    .carousel-div3 {
      background-image: url('/img/present3.jpg');
      background-position: center;
      background-size: cover;
    }

    .carousel-div4 {
      background-image: url('/img/web5.jpg');
      background-position: center;
      background-size: cover;
    }

  }

  .ant-carousel .slick-slide h3 {
    color: #fff;
  }



  .ant-list-vertical .ant-list-item-meta {
    margin-bottom: -6px;
  }

  .u-center {
    display: inline-block;
    padding: 0 5px;
    color: #808080;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
  }

  .dynamic-left {
    width: 70%;
    margin-left: 40px;
    margin-right: 30px;


    .dynamic-article-list-wrap {
      margin-top: 20px;
      text-align: left;
      width: 100%;

      a {
        color: #000;

        &:hover {
          color: #1890ff
        }
      }

      .article-title {
        font-size: 20px;
      }

      .article-content,
      .u-center {
        font-size: 15px;
        color: #808080;
      }

      .loading-more-button {
        border-color: #1890ff;
      }

      .ant-list-item-action>li:first-child {
        padding-left: 0;
        margin-right: 54%;
      }
    }
  }

  .dynamic-right {
    width: 30%;
    min-height: 200px;
    padding: 10px;
    margin-right: 30px;

    >.label {
      text-align: left;

      .ant-btn {
        color: gray;
        border: 1px solid gray;
        border-radius: 25px;
      }

      .ant-btn:hover {
        cursor: pointer;
        color: #1890ff;
        border: 1px solid #1890ff;
      }

      // 当点击了标签后，添加对应的样式
      .articleActive {
        border: 1px solid #1890ff !important;
        color: #1890ff !important;
      }
    }

    .hot-article {
      text-align: left;
      // display: flex;
      // flex-direction: column;

      span {
        color: #808080;
      }

      a {
        color: #000;

        &:hover {
          color: #1890ff
        }
      }

      .article-title {
        font-size: 18px;
      }

      .article-content,
      .u-center {
        font-size: 15px;
        color: #808080;
      }

    }
  }
}

// **********************00000000000000000000**********************